In [12]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (2.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22.4 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [13]:
%pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (3.10.7)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: seaborn in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\miniconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

%matplotlib inline

In [15]:
plt.style.use('seaborn-v0_8')
sns.set_palette("Set2")
pd.set_option('display.max_columns', None)

In [16]:
df_transaksi = pd.read_csv("pembelian.csv", sep=';', encoding='utf-8')
df_stok = pd.read_csv("stok.csv", sep=';', encoding='utf-8')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19232\4122221870.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transaksi = pd.read_csv("pembelian.csv", sep=';', encoding='utf-8')

In [17]:
print("✅ Data transaksi:", df_transaksi.shape)
print("✅ Data stok:", df_stok.shape)

✅ Data transaksi: (138364, 8)
✅ Data stok: (1517, 5)

In [18]:
df_transaksi.head(5)

,kode,nama product,unit,tgl transaksi,kode transaksi,kategori,qty,nilai
0,A000001,ANATON TAB,STRIP,06-07-21,1.13-210706.0908-003,Masuk,10,2520
1,A000001,ANATON TAB,STRIP,12-07-21,2.6-210712.1519-097,Keluar,1,3000
2,A000001,ANATON TAB,STRIP,12-07-21,2.11-210712.1633-013,Keluar,1,3000
3,A000001,ANATON TAB,STRIP,12-07-21,2.13-210712.1807-013,Keluar,1,3000
4,A000001,ANATON TAB,STRIP,12-07-21,2.11-210712.1855-018,Keluar,1,3000

In [19]:
df_stok.head(5)

      kode        nama product lokasi  qty   unit
0  A000001          ANATON TAB   ETL1   12  STRIP
1   A00001       ACTIVED HIJAU  ETL3A    2    BTL
2  A000012  APIALYS SYR 100 ML  ETL3A    2    BTL
3  A000014     ALKOHOL 1000 ML  ETL3B    7    BTL
4  A000016     ALLOPURINOL 300   RAK2   40  STRIP

In [20]:
df_transaksi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138364 entries, 0 to 138363
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   kode            138364 non-null  object
 1   nama product    138364 non-null  object
 2   unit            138364 non-null  object
 3   tgl transaksi   138364 non-null  object
 4   kode transaksi  138364 non-null  object
 5   kategori        138364 non-null  object
 6   qty             138364 non-null  object
 7   nilai           138364 non-null  object
dtypes: object(8)
memory usage: 8.4+ MB

In [21]:
df_stok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   kode          1517 non-null   object
 1   nama product  1517 non-null   object
 2   lokasi        1517 non-null   object
 3   qty           1517 non-null   int64
 4   unit          1517 non-null   object
dtypes: int64(1), object(4)
memory usage: 59.4+ KB